/* _wonka-navbar-mobile
Media Queries
@media (min-width: $iphone-4-min) and ( max-width: $iphone-4-max) and ( -webkit-device-pixel-ratio: 2 )
@media (min-width: $screen-sm-min)
@media (min-width: $screen-md-min)
@media (min-width: $screen-lg-min)
 */

// Transitions
.w-nav-bar,
.w-nav-color,
.navbar,
.navbar-default .w-primary-menu,
.navbar-default .w-primary-menu > li,
.navbar-default .w-primary-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    transition: all .2s ease-in-out;
}

.navbar-toggle .icon-bar,
.navbar-default .navbar-brand {
    position: relative;
    transition: all .2s ease-in-out;
}

.w-nav-bar {
  box-shadow: 0px 2px 6px 2px #000;
  position: relative;
  background: #000;
  z-index: 75;
  top: 0;
    @media (min-width: $iphone-4-max) and ( max-width: $screen-xs-max) and ( -webkit-device-pixel-ratio: 1 ) {
      top: 0;
    }
    @media (min-width: $screen-sm-min) {
      top: 0px;
    }
    @media (min-width: $screen-md-min) {
      top: 36px;
    }
}

.w-nav-bar .navbar {
  margin-bottom: 0;
}

.w-nav-color {
  background: $navbar-color;
}

.navbar-nav {
  margin: 0 -15px;
}

.navbar {
  border: none;
}

.navbar-default .navbar-toggle {

}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-default .w-blog-brand {
  top: 15px;
  float: none;
    @media (min-width: $screen-md-min) {
      left: 20px;
    }
    @media (min-width: $screen-lg-min) {
      left: 65px;
    }
}

.navbar-default .w-back-button {
  font-family: Roboto Light;
}

.navbar-default .w-back-button .glyphicon {
  top: 2px;
  line-height: 15px;
}

.navbar-default .navbar-brand {
  color: $link-color;
  font-size: $brand-font-size-xs;
    @media (min-width: $iphone-4-min) and ( max-width: $iphone-4-max) and ( -webkit-device-pixel-ratio: 2 ) {
      font-size: $iphone-4-font-size;
    }
    @media (min-width: $screen-sm-min) {
      font-size: $brand-font-size-sm;
    }
    @media (min-width: $screen-md-min) {
      font-size: $brand-font-size-sm;
    }
    @media (min-width: $screen-lg-min) {
      font-size: $brand-font-size-md;
    }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ada;
  text-decoration: none; 
}

.navbar-default .w-primary-menu {
  @media (min-width: $screen-md-min) {
    padding-left: 13%;
  }
}

.navbar-default .w-primary-menu > li {
    list-style: none;
    border-right:  none;
}

.navbar-default .w-primary-menu > li:first-child {
    border-left: none;
}

.navbar-default .w-primary-menu > li > a {
  color: $link-color;
  text-transform: uppercase;
  font-size: 12pt;
  font-family: Roboto medium;
    @media (min-width: $iphone-4-min) and ( max-width: $iphone-4-max) and ( -webkit-device-pixel-ratio: 2 ) {
      font-size: $iphone-4-font-size;
    }
    @media (min-width: $screen-sm-min) {
      font-size: $brand-font-size-sm;
    }
    @media (min-width: $screen-md-min) {
      font-size: $brand-font-size-sm;
    }
    @media (min-width: $screen-lg-min) {
      font-size: $brand-font-size-md;
    }
}

.navbar-default .w-primary-menu > li > a:hover, .navbar-default .w-primary-menu > li > a:focus {
  color: #ada;
  text-decoration: none;
}

#primary_walker .dropdown-toggle[aria-expanded="true"]:after {
    @media (min-width: $screen-md-min) {
      content: "";
      height: 0;
      width: 0;
      border: 20px solid transparent;
      border-bottom-color: #dabb83;
      left: 50%;
      margin-left: -20px;
      bottom: -40%;
      pointer-events: none;
      position: absolute;
    }
}

.navbar-default .navbar-nav .open .dropdown-menu {
  top: 70px;
  background: transparent;
  border: none;
  box-shadow: none;
    @media (min-width: $screen-md-min) {
      margin: 0 -150%;
      float: none;
    }
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: $link-color;
  text-transform: uppercase;
  font-size: 10pt;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #000;
  opacity: .6;
  text-decoration: none;
}

div[role="row"].row {
  position: relative;
  top: -5px;
  border: 1px solid rgba(0,0,0,0.15);
  background: $mega-color;
  -webkit-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.5);
  box-shadow: 0 2px 6px 2px rgba(0,0,0,0.5);
  @media (min-width: $screen-md-min) {
  }
}

div[role="row"] >ul  {
  list-style: none;
}

div[role="row"] > ul > li {
  box-shadow: 0 2px 4px 2px rgba(0,0,0,.4);
  min-height: 135px;
  margin: 8px 5% 8px 0;
  padding: 18% 0 0;
  border-radius: 20px;
  @media (min-width: $screen-md-min) {
    margin-right: 10%;
    padding: 7% 0;
    min-height: 150px;
  }
}
div[role="row"] > ul > li:nth-child(2n) {
  margin-right: 0;
  @media (min-width: $screen-md-min) {
    margin-right: 10%;
  }
}
div[role="row"] > ul > li:nth-child(3n) {
  @media (min-width: $screen-md-min) {
    margin-right: 0;
  }
}

div[role="row"] > ul > li >a {
  padding: 8% 25%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-family: Roboto Regular;
}
div[role="row"] > ul > li:hover >a:hover, ul[role="row"] > li >a:focus {
  text-decoration: none;
  color: #cdc;
}